.email-details {
  animation-name: displayDetails;
  animation-duration: 0.6s;
  animation-timing-function: ease;
}
@keyframes displayDetails {
  0% {
    transform-origin: center top;
    transform: scale(0);
  }
  85% {
    transform-origin: center top;
    transform: scale(1.01);
  }
  100% {
    transform-origin: center top;
    transform: scale(1);
  }
}

@mixin button() {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 3px;
  @include respond-to(tablet) {
    font-size: 18px;
  }
}

button.email-label-delete {
  @include button();
  background-color: $red;
  color: #ffffff;
}

button.email-label-spam {
  @include button();
  background-color: $gray;
}

button.email-label-unread {
  @include button();
  color: #ffffff;
  background-color: $blue;
  float: right;
}

.email-details-from {
  margin: 2rem 1rem;
}

.email-details-tags {
  background-color: #ffffff;
  margin: 1rem;
  padding: 0.8rem;
  height: 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 7px #00000022;
  @include respond-to(tablet) {
    font-size: 18px;
  }
}

.email-details-tag {
  margin: 1rem;
  padding: 0.3rem 1rem;
  box-shadow: 0px 0px 7px #00000022;
}

.email-details-body {
  @include respond-to(desktop) {
    margin: 1rem;
    font-size: 12px;
  }
  @include respond-to(tablet) {
    margin: 0px;
    font-size: 16px;
  }
  box-shadow: 0px 0px 10px #00000022;
}

.email-details-body-message {
  @include respond-to(desktop) {
    padding: 2rem;
    height: 300px;
  }
  @include respond-to(tablet) {
    padding: 1.5rem;
    height: 400x;
  }

  @include respond-to(phone) {
    padding: 1.5rem;
    height: 500px;
  }
  text-align: justify;
  border-radius: 3px 3px 0px 0px;
  background-color: #ffffff;

  border: solid 1px rgb(0, 0, 0, 0.1);
}

.email-details-footer {
  height: 30px;
}

.email-details-footer-attachment {
  height: 30px;
  float: left;
  border-radius: 0px 0px 0px 3px;
  background-color: $gray;
  border: none;
}

.email-details-footer-replay {
  float: right;
  background-color: $blue;
  color: #ffffff;
  height: 30px;
  border-radius: 0px 0px 3px 0px;
  @include respond-to(tablet) {
    font-size: 18px;
  }
}
